<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noxjs.oauth2.server.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.noxjs.oauth2.server.entity.RolePermission">
    <!--@mbg.generated generated on Thu Aug 22 09:54:29 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Aug 22 09:54:29 CST 2019.-->
    id, role_id, permission_id
  </sql>
</mapper>